h1{
    color:aquamarine
  }

.item img{
  height: 500px;
  width: 500px;
}

.header{
    display: flex; 
    justify-content: space-between;
}

.footer{
    display: flex; 
    justify-content: center;
}

.grid{
    display: flex; 
    flex-wrap: wrap;
    
    justify-content: space-between;
}